<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Buffer size (in bytes). -->
    <add key="NetProxyBufferSize" value="1048576"/>
    <!-- Duration (in seconds) to cache .NET Proxy data. Remove or set to "0" for no caching. -->
    <add key="NetProxyCacheDuration" value="60"/>
    <!-- Protocols allowed. -->
    <add key="NetProxyProtocols" value="http,https"/>
    <!-- Referers allowed. Remove or change to "*" for any referer. -->
    <add key="NetProxyReferers" value="localhost"/>
    <!-- Destination domains allowed. Remove or change to "*" for any destination domain. -->
    <add key="NetProxyDomains" value="*.google.com,google.com,*.bertjohnson.com,bertjohnson.com"/>
  </appSettings>
  <connectionStrings/>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>